.movieContainer {
    display: flex;
}

.movieImg {
    width: auto;
    margin: 10px 20px 20px 0;
}

.movieDetails {
    min-width: 500px;
}

.linkDetails {
    margin: 10px;
    border-radius: 10px;
    background-color: skyblue;
    display: inline-block;
    padding: 7px;
    max-width: 70px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.linkDetails:hover{
background-color: khaki;
}